@import 'variables';

body{
  background-image: url("../../img/ava.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
*{
    box-sizing: border-box;
}
.mtp{
    position: absolute;
    top: 100px;
}
.row__magin{
    margin-top: 18px;
}
.box__imagine{
    box-sizing: border-box;
    width: 100%;
}
.form-control{
   width: 150px;
   margin: 0 15px;
}
.form-check{
    width: 130px;
}
.colorrr{
    color: red;
}
.mt-7{
    position: absolute;
    top: 80px;
  }
  .space{
    background-color: white;
    min-height: 700px;
    display: flex;
    flex-direction: row;
    width: 100%;

  }
  .container{
    min-height: 500px;
  
  }
  .img-tab{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .img{
    background-color: rgb(161, 161, 154);
    width: 30%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    cursor: pointer;
  }
  .img1{
    width: 30px;
   height: 70px;
  }
  .none{
    display: none;
  }
 